<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI Kit
    body
        .container
            img(src="../src/img/l_icon.svg", class="toxin_logo")
            .block
            ul.list 
                li 
                    img(src="../src/img/Rect1.png")
                    |        Dark Shade 100% #1F2041
                    
                li
                    img(src="../src/img/Rect2.png")
                    |    Dark Shade 75% #1F2041
                li
                    img(src="../src/img/Rect3.png")
                    |    Dark Shade 50% #1F2041
                li 
                    img(src="../src/img/Rect4.png")
                    |Dark Shade 25% #1F2041
                li 
                    img(src="../src/img/Rect5.png")
                    |Dark Shade 5% #1F2041
                li 
                    img(src="../src/img/Rect6.png")
                    |Purple #BC9CFF
                li 
                    img(src="../src/img/Rect7.png")
                    |Green #6FCF97